* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #efedd6;
  overflow-x: hidden;
}

.h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #0000004d;
  transform: translateX(200%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-200%)
}

.box.show {
  transform: translateX(0)
}

.box h2 {
  font-size: 40px;
}
